{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5"><i class="far fa-question-circle"></i> About</h1>

<div class="container mt-3">
    <div class="row">
        {% comment %} Column 1 of 2 {% endcomment %}
        <div class="col-lg-3">
            <div class="card w-100 about-card">
                {% load static %}
                <img src="{% static 'css/images/quincypham.jpeg' %}" class="card-img-top about-img" alt="Developer Profile Picture">
                <div class="card-body">
                    <h5 class="card-title"><i class="far fa-address-card"></i> About The Developer</h5>
                    <p class="card-text">Hi my name is Quincy Pham, the developer of Project Community!</p> 
                    <p>Before becoming a software engineer my experience was mainly in the public sector, working with Seattle Public Schools, the University of Washington, and the Washington State Department of Social and Health Services.</p>
                    <p>In my public service experience I gained valuable knowledge that I believe everyone should be able to access!</p>                    
                    <div class="text-center"><a href="https://www.linkedin.com/in/quincytpham/" target="_blank" class="btn btn-primary"><i class="fab fa-linkedin"></i> Connect With Me On LinkedIn</a></div>
                </div>
            </div>
        </div>

        {% comment %} Column 2 of 2 {% endcomment %}
        <div class="col-lg-9">
            <div class="card w-100 about-card">
                <div class="card-body">
                    <h3 class="card-title"><i class="fas fa-heartbeat"></i> About The Mission</h3>
                    <p class="card-text mt-4">Project Community [name still TBD], is an application meant to be a hub for all things that are social services / community resources. The core reason for developing this application is to give access to as many users as possible to find contact info/locations for the services they need.</p>
                    <p>At the time of development, the COVID-19 pandemic is ongoing and I have had multiple friends and family that have been effected by COVID-19 and fortunately was able to share the knowledge of these services. Project Community was developed in mind of aiding COVID-19 relief.</p>
                    <p>In my experience as a caseworker with the state of WA, our mission was to transform lives. Given my background in work with the WA State Department of Social and Health Services, one of the joys was learning about all the social services and resources out there that could help people get back on their feet. If I could not personally help someone with their issue, at the least I could point them in the right direction to get the assistance that they need.</p>
                    <p>The mission of Project Community is an attempt to continue transforming lives by helping people in a more efficient and larger scale than being an individual caseworker. Although I may not be able to help each and every person personally, Project Community can point people in the right direction and can be a large impact on a person's life.</p>


                    <h3 class="card-title mt-5"><i class="fas fa-cogs"></i> About The Technology</h3>
                    <p class="mt-4">Project Community is built using Django for the views, routes, models and PostgreSQL to manage the database. Base MVP goals of full CRUD functionality were implemented for full interaction with the database. Multiple stretch goals were reached, key features being:
                    <ul>
                        <li>Resource Type Sorting [PostgreSQL / Python / Javascript]</li>
                        <li>Location / Map Data Visualization [Google Maps API]</li>
                        <li>Language Translation Selector [Google Translate]</li>
                        <li>Text/Line-height Vision Accessibility Tools [Javascript / CSS]</li>
                    </ul>
                    <p>Although many stretch goals were reached, the development cycle is never over as improvement is always possible. Future features to look forward to include:
                    <ul>
                        <li>Location / Distance sorting</li>
                        <li>Search Functionality</li>
                        <li>Data.gov Resource APIs</li>
                        <li>Third-party log-in [+ User dashboard / Reminders / Bookmarks / Notes]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}