{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Community</title>

    {% comment %} Bootstrap CSS {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    {% comment %} FontAwesome Icon CSS {% endcomment %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    {% comment %} Custom CSS {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" defer>

    {% comment %} Bootstrap JS {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    {% comment %} Custom JS {% endcomment %}
    <script src="{% static 'js/maps.js' %}" defer></script>
</head>

<body class="d-flex flex-column h-100">

    <header>
        {% comment %} FIXED NAVBAR {% endcomment %}
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><i class="fas fa-search-location"></i> Project Community</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    {% comment %} NAVBAR ITEMS LEFT {% endcomment %}
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'resources_index' %}">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'resources_new' %}">Add New</a>
                        </li>

                    </ul>

                    {% comment %} NAVBAR ITEMS RIGHT {% endcomment %}
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-text-height"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-language"></i></a>
                        </li>
                    </ul>

                    {% comment %} REVIEW: Search not needed in nav? {% endcomment %}
                    {% comment %} <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> {% endcomment %}
                </div>
            </div>
        </nav>
    </header>

    <main class="flex-shrink-0">
        <div class="container">
            {% comment %} BLOCK CONTENT HERE {% endcomment %}
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">All Rights Reserved, &copy; 2021 Project Community created by Quincy Pham</span>
        </div>
    </footer>
</body>



</html>