{% extends 'base.html' %}

{% block content %}

<h1 class="mt-5">Resource Details</h1>
<p class="lead">Community Resources!</p>


<div class="card w-50">
    <div class="card-body">
        {% if resource.website %}
            <a href="http://{{ resource.website }}" target="_blank">
                <h4 class="card-title"><i class="fas fa-globe-americas"></i> {{ resource.name }}</h4>
            </a>
        {% else %}
            <h4 class="card-title">{{ resource.name }}</h4>
        {% endif %}
        
        <p class="card-subtitle my-1 text-muted">{{ resource.address1 }}</p>
        <p class="card-subtitle mb-1 text-muted">{{ resource.address2 }}</p>
        <p class="card-subtitle mb-1 text-muted">{{ resource.address3 }}</p>
        <p class="card-subtitle mb-4 text-muted">{{ resource.city }}, {{ resource.state }} {{ resource.zip_code }}</p>
        <p class="card-subtitle mb-4">Phone: {{ resource.phone }}</p>

        <p class="card-text">Verified: {{ resource.verified }}</p>
        <p class="card-text">Description: {{ resource.description }}</p>

        <div class="card-footer text-center">
            Not up to date? <a href="/resources/{{resource.id}}/edit" class="btn btn-primary"><i class="fas fa-edit"></i> Update</a>
        </div>
    </div>
</div>


{% endblock %}