{% extends 'base.html' %}

{% block content %}

<h1 class="mt-5">Resource Details</h1>
<p class="lead">Community Resources!</p>
<div class="container">
    <div class="row">
        <div class="col mb-4">
            <button
                class="btn btn-primary d-inline-block" 
                tabindex="0" 
                data-bs-toggle="popover" 
                data-bs-trigger="focus" 
                data-bs-placement="bottom" 
                title="Locate (Permission Required)" 
                data-bs-content="Locate may take a moment to process" 
                id="getUserButton">
                <i class="fas fa-crosshairs"></i> Map My Location
            </button>
        </div>
    </div>
    <div class="row">
        {% comment %} Column 1 of 2 {% endcomment %}
        <div class="col-md-6">
            {% comment %} Google Maps {% endcomment %}
            <div id="map"></div>

            {% comment %} If address avail then addr info provided to google maps here {% endcomment %}
            {% if resource.address1 and resource.city and resource.state and resource.zip_code %}
            <div class="name" style="display: none" value='{{ resource.name }}'>{{ resource.name }}</div>
            <div class="address" style="display: none" value='{{ resource.address1 }} {{ resource.city }} {{ resource.state }} {{ resource.zip_code }}'>{{ resource.address1 }} {{ resource.city }} {{ resource.state }} {{ resource.zip_code }}</div>
            {% endif %}
        </div>

        {% comment %} Column 2 of 2 {% endcomment %}
        <div class="col-md-6">
            <div class="card w-100">
                <div class="card-body">
                    {% if resource.website %}
                        {% comment %} REVIEW: this section for http at some point {% endcomment %}
                        <a href="http://{{ resource.website }}" target="_blank">
                            <h4 class="card-title"><i class="fas fa-globe-americas"></i> {{ resource.name }}</h4>
                        </a>
                    {% else %}
                        <h4 class="card-title d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="bottom" title="Copied" data-bs-content='"{{ resource.name }}"' onclick="clipboardCopy()" id="copyTarget"><i class="far fa-clipboard"></i> {{ resource.name }}</h4>
                    {% endif %}

                    {% comment %} <p class="card-subtitle my-2 text-muted distance">Distance text</p> {% endcomment %}

                    {% if resource.phone %}
                        <a href="tel:{{resource.phone}}"><p class="card-subtitle my-2"><i class="fas fa-sm fa-phone-alt"></i> {{ resource.phone }}</p></a>
                    {% else %}
                        <p class="card-subtitle my-2 text-muted"><i class="fas fa-sm fa-phone-alt"></i> Phone Unknown</p>
                    {% endif %}
                    
                    {% if resource.address1 %}
                    <a href="https://www.google.com/maps?q={{resource.name}} {{resource.address1}} {{ resource.city }} {{ resource.state }} {{ resource.zip_code }}" target="_blank">
                        <p class="card-subtitle my-1"><i class="fas fa-map-marker-alt"></i> {{ resource.address1 }}</p>
                        <p class="card-subtitle mb-1">{{ resource.address2 }}</p>
                        <p class="card-subtitle mb-1">{{ resource.address3 }}</p>
                        <p class="card-subtitle mb-4">{{ resource.city }} {{ resource.state }} {{ resource.zip_code }}</p>
                    </a>
                    {% else %}
                        <p class="card-subtitle my-1 text-muted"><i class="fas fa-map-marker-alt"></i> Address Unknown</p>
                    {% endif %}

                    <p class="card-text">Verified: {{ resource.verified }}</p>
                    <p class="card-text"> {{ resource.description }}</p>

                    <div class="card-footer text-center">
                        Not up to date? <a href="/resources/{{resource.id}}/edit" class="btn btn-primary"><i class="fas fa-edit"></i> Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API_KEY}}&callback=initMap&libraries=&v=weekly"></script>
{% load static %}
<script src="{% static 'js/maps.js' %}"></script>
{% endblock %}