{% extends 'base.html' %}

{% block content %}

<h1 class="mt-5">Resources</h1>
<p class="lead">Community Resources!</p>

<div class="container">
    <div class="row">
        {% comment %} Column 1 of 2 {% endcomment %}
        <div class="col-md-6">
            {% comment %} Google Maps {% endcomment %}
            <div id="map"></div>
        </div>
        
        {% comment %} If address avail then addr info provided to google maps here {% endcomment %}
        {% for resource in resources %}
            {% if resource.address1 and resource.city and resource.state and resource.zip_code %}
            <div class="address" style="display: none" value='{{ resource.address1 }} {{ resource.city }} {{ resource.state }} {{ resource.zip_code }}'>{{ resource.address1 }} {{ resource.city }} {{ resource.state }} {{ resource.zip_code }}</div>
            {% endif %}
        {% endfor %}

        {% comment %} Column 2 of 2 {% endcomment %}
        <div class="col-md-6">
            {% for resource in resources %}
                <a href="/resources/{{resource.id}}/detail" class="card w-100 cards_list">
                    <div class="card-body">
                        <h4 class="card-title">{{ resource.name }}</h4>

                        {% if resource.phone %}
                            <p class="card-subtitle my-2 text-muted"><i class="fas fa-sm fa-phone-alt"></i> {{ resource.phone }}</p>
                        {% else %}
                            <p class="card-subtitle my-2 text-muted"><i class="fas fa-sm fa-phone-alt"></i> Phone Unknown</p>
                        {% endif %}
                        
                        <p class="card-text mt-4">{{ resource.description }}</p>            
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp6AweKVq6gHxy0VonSn2f0rFrmvX9SdI&callback=initMap&libraries=&v=weekly" async ></script>
{% endblock %}