{% extends 'base.html' %}

{% block content %}

<h1 class="mt-5">Resources</h1>

<div class="container mt-3">
    <div class="row mb-3">
        <div class="col-md-6">
            <button
                class="btn btn-primary mb-2" 
                {% comment %} Popover messsage previously here                 
                tabindex="0" 
                data-bs-toggle="popover" 
                data-bs-trigger="focus" 
                data-bs-placement="bottom" 
                title="Locate (Permission Required)" 
                data-bs-content="Locate may take a moment to process" 
                {% endcomment %}
                id="getUserButton">
                <i class="fas fa-crosshairs"></i> Map My Location
            </button>

            <button class="btn btn-primary mb-2" type="button" id="mapLoadButton" style="display:none" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading Location
            </button>
        </div>
        <div class="col-md-6">
            <div class="dropdown">
                <span class="lead">I am looking for...</span> 
                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">{{resource_query}}</button>
                <ul name="resource_type" id="id_resource_type" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% comment %} <li><a class="dropdown-item" href="{% url 'resources_index' %}">Select Resources</a></li> {% endcomment %}
                    <li><a class="dropdown-item" href="?resource_type=Healthcare">Healthcare</a></li>
                    <li><a class="dropdown-item" href="?resource_type=Housing/Shelter">Housing/Shelter</a></li>
                    <li><a class="dropdown-item" href="?resource_type=Food">Food</a></li>
                    <li><a class="dropdown-item" href="?resource_type=Employment">Employment</a></li>
                    <li><a class="dropdown-item" href="?resource_type=Education">Education</a></li>
                    <li><a class="dropdown-item" href="?resource_type=Utility/Financial">Utility/Financial</a></li>
                    <li><a class="dropdown-item" href="?resource_type=Transportation">Transportation</a></li>
                    <li><a class="dropdown-item" href="?resource_type=Disability">Disability</a></li>
                    <li><a class="dropdown-item" href="?resource_type=Domestic Violence">Domestic Violence</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row">
        {% comment %} Column 1 of 2 {% endcomment %}
        <div class="col-md-6">
            {% comment %} Google Maps {% endcomment %}
            <div id="map"></div>
        </div>
        
        {% comment %} If resource type matches and address avail then addr info provided to google maps here {% endcomment %}
        {% for resource in resources %}
            {% if resource.get_resource_type_display == resource_query %}
                {% if resource.address1 and resource.city and resource.state and resource.zip_code %}
                <div class="name" style="display: none" value='{{ resource.name }}'>{{ resource.name }}</div>
                <div class="address" style="display: none" value='{{ resource.address1 }} {{ resource.city }} {{ resource.state }} {{ resource.zip_code }}'>{{ resource.address1 }} {{ resource.city }} {{ resource.state }} {{ resource.zip_code }}</div>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% comment %} Column 2 of 2 {% endcomment %}
        <div class="col-md-6">
            {% for resource in resources %}
                {% if resource.get_resource_type_display == resource_query %}
                <a href="/resources/{{resource.id}}/detail" class="card w-100 cards_list">
                    <div class="card-body">
                        <h4 class="card-title">{{ resource.name }}</h4>
                        {% comment %} <p class="card-subtitle my-2 text-muted distance">Distance text</p> {% endcomment %}
                        {% if resource.phone %}
                            <p class="card-subtitle my-2 text-muted"><i class="fas fa-sm fa-phone-alt"></i> {{ resource.phone }}</p>
                        {% else %}
                            <p class="card-subtitle my-2 text-muted"><i class="fas fa-sm fa-phone-alt"></i> Phone Unknown</p>
                        {% endif %}
                        
                        <p class="card-text mt-4">{{ resource.description }}</p>            
                    </div>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API_KEY}}&callback=initMap&libraries=&v=weekly" class="key" id="{{GOOGLE_MAPS_API_KEY}}"></script>
{% load static %}
<script src="{% static 'js/maps.js' %}"></script>
{% endblock %}