{% extends 'base.html' %}

{% block content %}

<h1 class="mt-5"><i class="far fa-plus-square"></i> Add New Resource</h1>

<div class="card w-70 mt-3">
    <div class="card-body">
        <form action="/resources/" method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <h4><i class="fas fa-hand-holding-medical"></i> Resource</h4>
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" name="resource_type" id="id_resource_type" required>
                            <option value="" selected disabled>Select Resource Type</option>
                            <option value="HEAL">Healthcare</option>
                            <option value="HOUS">Housing/Shelter</option>
                            <option value="FOOD">Food</option>
                            <option value="EMPL">Employment</option>
                            <option value="EDUC">Education</option>
                            <option value="UTIL">Utility/Financial</option>
                            <option value="TRAN">Transportation</option>
                            <option value="DISA">Disability</option>
                            <option value="DOME">Domestic Violence</option>
                        </select>
                        <label for="floatingSelect"><i class="fas fa-briefcase-medical"></i> Resource Type</label>
                        <div class="invalid-feedback">Resource Type is required</div>                        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-5">
                        <input type="text" class="form-control" name="name" maxlength="120" id="id_name" placeholder="Name" required>
                        <label for="floatingInput"><i class="far fa-address-card"></i> Resource Name</label>
                        <div class="invalid-feedback">Resource Name is required</div>
                    </div>
                </div>
            </div>

            <h4><i class="fas fa-map-marker-alt"></i> Address</h4>
            <div class="row">
                <div class="col">
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" name="address1" maxlength="120" id="id_address1" placeholder="Address Line 1">
                        <label for="floatingInput">Address Line 1</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="address2" maxlength="120" id="id_address2" placeholder="Address Line 2">
                        <label for="floatingInput">Address Line 2</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="address3" maxlength="120" id="id_address3" placeholder="Address Line 3">
                        <label for="floatingInput">Address Line 3</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="city" maxlength="120" id="id_city" placeholder="City">
                        <label for="floatingInput">City</label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-floating mb-5">
                        <input type="text" class="form-control" name="state" maxlength="2" id="id_state" placeholder="State">
                        <label for="floatingInput">State</label>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="zip_code" maxlength="5" id="id_zip_code" placeholder="Zip Code">
                        <label for="floatingInput">Zip Code</label>
                    </div>
                </div>
            </div>

            <h4><i class="fas fa-info-circle"></i> Contact / Information</h4>
            <div class="row">
                <div class="col">
                    <div class="form-floating my-3">
                        <input type="text" class="form-control" name="phone" maxlength="12" id="id_phone" placeholder="Phone">
                        <label for="floatingInput"><i class="fas fa-phone-alt"></i> Phone</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="website" maxlength="512" id="id_website" placeholder="Website">
                        <label for="floatingInput"><i class="fas fa-globe-americas"></i> Website</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="floatingTextarea" name="description" maxlength="1024" id="id_description" placeholder="Description" style="height: 128px" required></textarea>
                        <label for="floatingInput"><i class="fas fa-align-justify"></i> Description</label>
                        <div class="invalid-feedback">Description is required</div>
                    </div>
                </div>
            </div>

            {% comment %} <table>
                <tbody>
                    <tr>
                        <th><label for="id_resource_type"><i class="fas fa-briefcase-medical"></i> Resource Type:</label></th>
                        <td><select name="resource_type" id="id_resource_type">
                                <option value="HEAL" selected="">Healthcare</option>
                                <option value="HOUS">Housing/Shelter</option>
                                <option value="FOOD">Food</option>
                                <option value="EMPL">Employment</option>
                                <option value="EDUC">Education</option>
                                <option value="UTIL">Utility/Financial</option>
                                <option value="TRAN">Transportaion</option>
                                <option value="DISA">Disability</option>
                                <option value="DOME">Domestic Violence</option>
                            </select></td>
                    </tr>
                    <tr>
                        <th><label for="id_name"><i class="far fa-address-card"></i> Resource Name:</label></th>
                        <td><input type="text" name="name" maxlength="120" required="" id="id_name" placeholder="Name"></td>
                    </tr>
                    <tr>
                        <th><label for="id_address1"><i class="fas fa-map-marker-alt"></i> Address:</label></th>
                        <td><input type="text" name="address1" maxlength="120" id="id_address1" placeholder="Address Line 1"></td>
                    </tr>
                    <tr>
                        <th><label for="id_address2"></label></th>
                        <td><input type="text" name="address2" maxlength="120" id="id_address2" placeholder="Address Line 2"></td>
                    </tr>
                    <tr>
                        <th><label for="id_address3"></label></th>
                        <td><input type="text" name="address3" maxlength="120" id="id_address3" placeholder="Address Line 3"></td>
                    </tr>
                    <tr>
                        <th><label for="id_city">City:</label></th>
                        <td><input type="text" name="city" maxlength="120" id="id_city" placeholder="City"></td>
                    </tr>
                    <tr>
                        <th><label for="id_state">State:</label></th>
                        <td><input type="text" name="state" maxlength="2" id="id_state" placeholder="State"></td>
                    </tr>
                    <tr>
                        <th><label for="id_zip_code">Zip Code:</label></th>
                        <td><input type="text" name="zip_code" maxlength="5" id="id_zip_code" placeholder="Zip Code"></td>
                    </tr>
                    <tr>
                        <th><label for="id_phone"><i class="fas fa-phone-alt"></i> Phone:</label></th>
                        <td><input type="text" name="phone" maxlength="12" id="id_phone" placeholder="Phone Number"></td>
                    </tr>
                    <tr>
                        <th><label for="id_website"><i class="fas fa-globe-americas"></i> Website:</label></th>
                        <td><input type="text" name="website" maxlength="512" id="id_website" placeholder="Website"></td>
                    </tr>
                    <tr>
                        <th><label for="id_description"><i class="fas fa-align-justify"></i> Description:</label></th>
                        <td><input type="text" name="description" maxlength="1024" required="" id="id_description" placeholder="Description"></td>
                    </tr>
                </tbody>
            </table> {% endcomment %}

            <div class="card-footer text-center">
                <button class="btn btn-primary" type="submit"><i class="fas fa-plus-square"></i> Add Resource</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}